* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Bungee', sans-serif;
}

body {
  margin: 0;
  font-size: 2vmin;
}

#header {
  width: 100vw;
  height: 10vh;
}

#header > img {
  margin: 1vh;
  height: 6vh;
  width: 6vh;
  float: left;
}

#header > span {
  line-height: 8vh;
  vertical-align: middle;
  font-size: 1.5em;
}

.main {
  height: 100vh;
}

.dark-contrast {
  background: black;
}

.dark-contrast > * {
  background: black !important;
  color: white !important;
}

#footer {
  color: grey;
  text-align: right;
}

.warning-border {
  border: 1px solid red !important;
}

#grid-container {
  padding: 1vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(13, 5vh);
  grid-gap: 1.5vmin;
}

#grid-container > div {
  min-width: 100%;
  padding: 1vmin;
}

.biosignal-EKG {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
}

.biosignal-HR-Graph {
  grid-column: 1 / 2;
  grid-row: 5 / 9;
}

.biosignal-placeholder-Graph {
  grid-column: 1 / 2;
  grid-row: 9 / 13;
}

.biosignal-placeholder-Graph > div, .biosignal-HR-Graph > div, .biosignal-EKG > div {
  max-height: 20vh;
  min-height: 20vh;
}

.biosignal-Temp {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
}

.biosignal-HR {
  grid-column: 2 / 3;
  grid-row: 4 / 7;
}

.biosignal-sO2 {
  grid-column: 2 / 3;
  grid-row: 7 / 10;
}

.biosignal-RR {
  grid-column: 2 / 3;
  grid-row: 10 / 13;
}

.bioSignalType {
  text-align: start;
}

.bioSignalValue {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  overflow: hidden;
}

.none {
  display: none;
}

.blue { color: blue; }
.green { color: green; }
.purple { color: purple; }
.magenta { color: magenta; }
.lightblue { color: lightblue; }
.orange { color: orange; }
.red { color: red; }
